.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}
.homePage {
  font-size: 14px;
  .sidebar {
    position: fixed;
    left: 0;
    top: 52px;
    background: #f5f5f5;
    height: 100%;
    min-width: 240px;
    .listMenu {
      margin-top: 10px;
      .item-menu {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        ul {
          padding-left: 0;
          list-style: none;
          margin-bottom: 0;
          li {
            &.active, &:hover {
              background: #dcdcdc;
            }
            a {
              text-decoration: none;
              padding: 10px 30px;
              display: block;
              color: #0d0d0d;
              span {
                padding-left: 15px;
              }
            }
          }
        }
      }
    }
  }
  .mainPage {
    margin-left: 240px;
    .container {
      @media (min-width: 1200px) {
        max-width: 1284px;
      }
    }
    .group-ct {
      .chatvl-session-item {
        margin-bottom: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid #dcdcdc;
        .heading-item {
          margin-bottom: 20px;
          h2 {
            font-size: 16px;
          }
        }
        .list-session {
          .gr-row {
            margin: 0 -2px;
            .item-row {
              padding: 0 2px;
              .item-chatvl {
                .thumbnail {
                  position: relative;
                  .img-thumb {
                    .overlay-side-panel {
                      position: absolute;
                      right: 0;
                      top: 0;
                      bottom: 0;
                      background-color: hsla(0, 0%, 6.7%, .8);
                      color: hsla(0, 0%, 100%, .8);
                      text-align: center;
                      font-size: 16px;
                      font-weight: 400;
                      line-height: 2rem;
                      display: flex;
                      -ms-flex-direction: column;
                      -webkit-flex-direction: column;
                      flex-direction: column;
                      -ms-flex-align: center;
                      -webkit-align-items: center;
                      align-items: center;
                      -ms-flex-pack: center;
                      -webkit-justify-content: center;
                      justify-content: center;
                      width: 92px;
                    }
                  }
                  .view-all-pannel {
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    background-color: hsla(0, 0%, 6.7%, .8);
                    color: hsla(0, 0%, 100%, .8);
                    text-align: center;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 2rem;
                    -ms-flex-direction: column;
                    -webkit-flex-direction: column;
                    flex-direction: column;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    text-transform: uppercase;
                    width: 100%;
                    display: none;
                  }
                }
                .chatvl-simple-endpoint {
                  .title {
                    padding-right: 24px;
                    h3 {
                      font-size: 1.4rem;
                      a {
                        margin: 8px 0 8px;
                        display: -webkit-box;
                        max-height: 3.2rem;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: normal;
                        -webkit-line-clamp: 2;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 18px;
                        text-decoration: none;
                        color: #0d0d0d;
                      }
                    }
                  }
                }
                &:hover {
                  .thumbnail .view-all-pannel {
                    display: flex;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
